<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" th:with="roles=${roles}">
    <th:block th:include="/fragments/menu :: fragmentContent"></th:block>
</div>
<div th:fragment="content" th:with="roles=${roles}">
    <th:block th:include="/fragments/menu1 :: fragmentContent1"></th:block>
</div>
<table border="1">

    <tr>
        <th>Пункт назначения</th>
        <th>Стоимость доставки(грн)</th>
    </tr>
    <tr th:each="destination : ${destinations}">
        <td th:utext="${destination.name}">...</td>
        <td th:utext="${destination.summa}">...</td>
    </tr>
</table>

</body>
</html>